<h1>Welcome to the index page created for exercise 3.8</h1>
<h2>Header 2</h2>
<%= image_tag("motorbike.jpg", class: "img-responsive") %>
<p>The following code has been commented out and should not be visible. It contains test variables</p>
<%#<p>Welcome! The date and time is <%= Time.now %><%#</p>
<%#<% test_variable = 42 %>
<%#<%= test_variable 	%>
<%#<%= test_variable - 2 %>
<%#<p>Find me in app/views/static_pages/index.html.erb</p>
