<div class="container payment-message">
  <div class="row">
    <div class="col-md-6 col-xs-12">
    <p>Thank you for your purchase of <%= @product.name %> for <%= @product.price %> with Motorcycle sShop!</p></p>
    <p>Leave a comment on our page!</p>
  </div><!-- / panel-body -->
</div><!-- / panel -->