<p id="notice"><%= notice %></p>

<h1>Products</h1>

<div class="container-fluid">
  <div class="row">
	<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
		<% cache (cache_key_for_products) do %> 
		    <% @products.each do |product| %>
		      	<%= render partial: "product", locals: {product: product} %>
		    <% end %>
		 <% end %>
	</div>
  </div>
</div>
<hr>
<div class="text-center"><%= will_paginate @products %></div>
<% if user_signed_in? && current_user.admin? %>
	<%= link_to 'Add New Product', new_product_path %>
<% end %>
<hr>